{%extends 'users/userbase.html'%}

{%block contents%}



 <div class="section-title">
          <h2>COVID</h2>
          <h3>ARTIFICIAL INTELLIGENCE AND <span> COVID-19</span></h3>
          <p>The present section focuses on the introduction of some
applicable AI-based strategies that can support existing standard
methods of dealing with COVID-19 in health care systems
around the world. With the aim of foregrounding the
enhanced effectiveness of these strategies and techniques,
their formation has been informed by and based on the most
recent AI-related published medical updates as well as the
latest updates on COVID-19</p>
        </div>
{%endblock%}
