{%extends 'users/userbase.html'%}
{%load static%}
{%block contents%}



 <div class="section-title">
          <h2>COVID</h2>
     <h3>Training our COVID-19 detector with <span>Keras and TensorFlow</span></h3>
          <p>
              <table>
     <tr>
         <td><img src="{%static 'covid/1-s2.0-S0140673620303706-fx1_lrg.jpg'%}" alt="Covid 1-s2.0-S0140673620303706-fx1_lrg.jpg" width="240" height="180"></td>
         <td><img src="{%static 'covid/1-s2.0-S0929664620300449-gr2_lrg-a.jpg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/1-s2.0-S0929664620300449-gr2_lrg-b.jpg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/1-s2.0-S0929664620300449-gr2_lrg-c.jpg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/1-s2.0-S0929664620300449-gr2_lrg-d.jpg'%}" width="240" height="180"></td>
     </tr>
      <tr>
          <td><img src="{%static 'covid/auntminnie-a-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg'%}" alt="Covid 1-s2.0-S0140673620303706-fx1_lrg.jpg" width="240" height="180"></td>
         <td><img src="{%static 'covid/auntminnie-b-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/auntminnie-c-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/auntminnie-d-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/lancet-case2a.jpg'%}" width="240" height="180"></td>
     </tr>
      <tr>
          <td><img src="{%static 'covid/nejmoa2001191_f1-PA.jpeg'%}" alt="Covid 1-s2.0-S0140673620303706-fx1_lrg.jpg" width="240" height="180"></td>
         <td><img src="{%static 'covid/nejmoa2001191_f3-PA.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/nejmoa2001191_f4.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/nejmoa2001191_f5-PA.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'covid/radiol.2020200490.fig3.jpeg'%}" width="240" height="180"></td>
     </tr>
      <tr>
           <td><img src="{%static 'normal/IM-0033-0001-0001.jpeg'%}" alt="IM-0033-0001-0001.jpeg" width="240" height="180"></td>
         <td><img src="{%static 'normal/IM-0240-0001.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'normal/NORMAL2-IM-0315-0001.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'normal/NORMAL2-IM-0696-0001.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'normal/NORMAL2-IM-0869-0001.jpeg'%}" width="240" height="180"></td>
     </tr>
      <tr>
          <td><img src="{%static 'normal/person259_bacteria_1220.jpeg'%}" alt="Covid 1-s2.0-S0140673620303706-fx1_lrg.jpg" width="240" height="180"></td>
         <td><img src="{%static 'normal/person339_bacteria_1574.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'normal/person438_bacteria_1893.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'normal/person612_bacteria_2478.jpeg'%}" width="240" height="180"></td>
         <td><img src="{%static 'normal/person651_bacteria_2543.jpeg'%}" width="240" height="180"></td>
     </tr>
 </table>
     <h3>Full Dataset youcan get from <span><a href="https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia" target="_blank">Kaggle</a> </span></h3>
          </p>
        </div>
{%endblock%}
