{%extends 'base.html'%}

{%block contents%}
 <div class="section-title">
          <h2>COVID</h2>
          <h3>Admin Login <span> Form</span></h3>
          <p>

               <center>
                                    <form action="{%url 'AdminLoginCheck'%}" method="POST" class="text-primary" style="width:100%">
                    {% csrf_token %}
                    <table>
                        <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="loginid" required placeholder="Enter Login Id">
                </div>
              </div>
                        <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" name="pswd" required placeholder="Enter password">
                </div>
              </div>


                        <tr>
                            <td>
                                <button class="btn btn-block btn-primary text-white py-3 px-5" style="margin-left:20%;"
                                        type="submit">
                                    Login
                                </button>
                            </td>
                        </tr>

                        {% if messages %}
                        {% for message in messages %}
                        <font color='GREEN'> {{ message }}</font>
                        {% endfor %}
                        {% endif %}

                    </table>

                </form>
                                </center>
          </p>
        </div>
{%endblock%}